/* anime */

.list {
  background-image: linear-gradient(90deg, black 1px, transparent 1px),
    linear-gradient(180deg, black 1px, transparent 1px);
  background-size: 100px 100px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.list .item {
  transition: 1s;
  filter: brightness(0);
}
.list .item:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}
.list .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}
.list .item:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(20deg);
}
.list .item:hover + * + * + * {
  filter: brightness(0.2);
  transform: translateZ(35px) rotateY(10deg);
}
.list .item:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(-40deg);
}
.list .item:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(-20deg);
}
.list .item:has(+ * + * + *:hover) {
  filter: brightness(0.2);
  transform: translateZ(35px) rotateY(-10deg);
}

/* sepatu  */
.list_card_shoe {
  background-image: radial-gradient(circle, black 1px, transparent 1px),
    radial-gradient(circle, black 1px, transparent 1px);
  background-size: 100px 100px;
  /* background-color: white;  */
  border: 1px solid #ddd; /* Opsional: Batas */
}
